.violet {
    color: purple;
}

.italique {
    font-style: italic;
}

.feuilles {
    background-image: url("feuilles.png");
    background-repeat: repeat;
}

.pingouin {
    background-image: url("pingouin.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

p {
    color: white;
    font-size: 30px;
    text-align: justify;
}